# Dependencias de Node
node_modules/

# Archivos de construcción
build/

# Archivos de configuración de entorno
.env

# Archivos de logs
logs/
*.log

# Archivos de paquetes
*.tgz

# Archivos de bloqueo de paquetes
package-lock.json
yarn.lock

# Archivos de sistema operativo
.DS_Store
Thumbs.db

# Archivos de configuración de IDE
.vscode/
.idea/